[Unit]
Description=Infrasound Display Service

[Service]
Type=simple
WorkingDirectory=/home/pi/repos/STEInfrasound
ExecStart=/home/pi/repos/STEInfrasound/start_infrasound.sh

[Install]
WantedBy=default.target
